
h1{
    font-family: "Poppins", sans-serif;
    font-style:normal;
    font-weight: 600;
    font-size: 96px;
    color:#5D5FEF;
}

h2{
    font-family: "Poppins", sans-serif;
    font-style:normal;
    font-weight: 400;
    font-size: 40px;
    color: black;
}

h3{
    font-family: "Poppins", sans-serif;
    font-style:normal;
    font-weight: 600;
    font-size: 24px;
    color: black;
}

p {
    font-family: "Poppins", sans-serif;
    font-style:normal;
    font-weight: 400;
    font-size: 20px;
}

footer {
    font-family: "Poppins", sans-serif;
    font-style:normal;
    font-weight: 300;
    font-size: 12px;
}