
h1{
    font-family: "Poppins", sans-serif;
    font-style:normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 144px;
    color:#5D5FEF;
}

h3{
    font-family: "Poppins", sans-serif;
    font-style:normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 144px;
    color: black;
}

p {
    font-family: "Poppins", sans-serif;
    font-style:normal;
    font-weight: 400;
    font-size: 20px;
}

footer {
    font-family: "Poppins", sans-serif;
    font-style:normal;
    font-weight: 300;
    font-size: 12px;
}