body {
    font-family: "Poppins", sans-serif;
    font-style:normal;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background-image: url(../media/MotherofTechnology_bg2_LP_SheCodes_Hero_Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px 0px 460px;
}

header h1{
    font-weight: 700;
    font-size: 88px;
    line-height: 1.2;
    color:#5D5FEF;
    margin: 0px;
}

header h2{
    font-weight: 400;
    font-size: 34px;
    line-height: 1.5;
    color: black;
    margin: 8px;
}

header h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 5px;
    color: black;
    margin: 0px auto 5px;
}

header a {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px 24px;
    margin-top: 15px;
    display: inline-block;
    background: #5D5FEF;
}

footer {
    font-weight: 300;
    font-size: 12px;
}

@media (max-width: 900px) {
    header {
        padding: 20px 0;
        background-size: cover;
        text-align: center;
    padding: 15px 0px 220px;
    }

    header h1 {
        font-size: 32px;
        line-height: 1.2;
        margin: 5px 0;

    }

    header h2 {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 500;
    }

    header h3 {
        font-size: 12px;
        line-height: 1.2;
    }

    header a {
        font-size: 10px;
        padding: 9px 9px;
    margin-top: 3px;
    background: #5d5fef;

    }
}